/EnzymeDesign/backup
/EnzymeDesign/answers
/EnzymeDesign/logfiles
/EnzymeDesign/backup
/EnzymeDesign/md_snapshots
/EnzymeDesign/output/*
/EnzymeDesign/backup/*
/EnzymeDesign/*.zip
/EnzymeDesign/*.jpg
/EnzymeDesign/*.eps
/EnzymeDesign/*.txt
/EnzymeDesign/*.mc
/EnzymeDesign/*.sc
/EnzymeDesign/*.log
/EnzymeDesign/*.out
/EnzymeDesign/*.fasta
/Docking/AutoDockTools/docking/outputs/*
/Docking/AutoDockTools/docking/outputs_old
/Docking/AutoDockTools/docking/storage
/Docking/AutoDockTools/docking/*.png
/Docking/AutoDockTools/docking/*.pse
/Docking/AutoDockTools/docking/*.mc
/Docking/AutoDockTools/docking/*.log
/Docking/AutoDockTools/docking/__pycache__/*
/Docking/RosettaDock/output_*
/Docking/RosettaDock/*.sc
/Docking/RosettaDock/*.pse
/Docking/RosettaDock/*.zip
/Docking/RosettaDock/*.log
/Docking/RosettaDock/*.txt
/Docking/RosettaDock/*.png
/EnzymeDesign/*.mat


